<ion-view title="Buy Medicines" id="page5" style="background-color:#D6455D;">
  <ion-content padding="true" class="has-header">
    <div id="buyMedicines-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">Select Store:</p>
    </div>
    <form id="buyMedicines-form12" class="list">
      <label class="item item-select" id="buyMedicines-select5">
        <span class="input-label">List of Stores:</span>
        <select>
          <option>Walmart</option>
          <option>CVS Pharmacy</option>
          <option>Walgreens</option>
        </select>
      </label>
      <div id="buyMedicines-markdown13" class="show-list-numbers-and-dots"></div>
      <div id="buyMedicines-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:20px;">.</p>

        <p style="color:#FFFFFF;font-size:20px;">Select Medicine</p>
      </div>
      <label class="item item-select" id="buyMedicines-select6">
        <span class="input-label">Medicines:</span>
        <select>
          <option>Ketorolac 100mg</option>
          <option>Ketorolac 200mg</option>
          <option>Meftal Spas 150mg</option>
          <option>Crocin 300mg</option>
          <option>Sinarest 50mg</option>
          <option>Citrozen 650mg</option>
        </select>
      </label>
    </form>
    <a href="tel:" id="buyMedicines-button12" class="button button-positive  button-block">Search</a>
  </ion-content>
</ion-view>