<ion-view title="First Aid" id="page6" style="background-color:#6CDFDA;">
  <ion-content padding="true" class="has-header">
    <div id="firstAid-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Issue :</strong>
      </p>
    </div>
    <form id="firstAid-form9" class="list">
      <label class="item item-select" id="firstAid-select3">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <button id="firstAid-button13" class="button button-positive  button-block">Play video</button>
  </ion-content>
</ion-view>