<ion-view title="Make an Appointment" id="page4" style="background-color:#485FD3;">
  <ion-content padding="true" class="has-header">
    <div id="makeAnAppointment-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Select an Issue: </strong>
      </p>
    </div>
    <form id="makeAnAppointment-form6" class="list">
      <label class="item item-select" id="makeAnAppointment-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <div id="makeAnAppointment-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Location:</strong>
      </p>
    </div>
    <form id="makeAnAppointment-form11" class="list">
      <label class="item item-select" id="makeAnAppointment-select2">
        <span class="input-label">Select</span>
        <select>
          <option>Fresno</option>
          <option>Madera</option>
          <option>Clovis</option>
        </select>
      </label>
    </form>
    <div id="makeAnAppointment-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Select Date:</strong>
      </p>
    </div>
    <form id="makeAnAppointment-form7" class="list">
      <label class="item item-select" id="makeAnAppointment-select4">
        <span class="input-label">Select</span>
        <select>
          <option>hai</option>
          <option>hello</option>
        </select>
      </label>
    </form>
    <a ui-sref="welcome" id="makeAnAppointment-button11" class="button button-royal  button-block">Submit</a>
  </ion-content>
</ion-view>