<ion-view title="Welcome " id="page3" style="background-color:#FCFCFC;">
  <ion-content padding="true" class="has-header">
    <h1 id="welcome-heading2" style="color:#000000;text-align:center;">Welcome !</h1>
    <a ui-sref="makeAnAppointment" id="welcome-button5" class="button button-positive  button-block">Make an Appointment</a>
    <a ui-sref="buyMedicines" id="welcome-button6" style="color:#FFFFFF;" class="button button-assertive  button-block">Buy Medicines</a>
    <a ui-sref="firstAid" id="welcome-button7" style="color:#FFFFFF;" class="button button-balanced  button-block">First-Aid</a>
    <a ui-sref="reminder" id="welcome-button8" style="color:#000000;" class="button button-energized  button-block">Remainder</a>
  </ion-content>
</ion-view>